.destinations {
    width: 312px;
    margin: 0 auto;
}

.destinations-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.destinations .item header {
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.destinations .item .img-item {
    width: 100%;
    height: 368px;
}

.destinations .item.tokyo .img-item {
    background: url(../img/tokyo-mobile.jpg);
    background-size: cover;
}

.destinations .item.osaka .img-item {
    background: url(../img/osaka-mobile.jpg);
    background-size: cover;
}

.destinations .item header h4 {
    font-size: 28px;
    font-weight: var(--title-weight);
    margin: 24px 0;
}

.destinations .item p {
    font-size: 20px;
    font-weight: var(--text-weight);
    line-height: 32px;
    margin-bottom: 24px;
}

.destinations .button {
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .destinations {
        width: 648px;
    }

    .destinations .item .img-item {
        width: 100%;
        height: 452px;
    }

    .destinations .item.tokyo .img-item {
        background: url(../img/tokyo-tablet-desk.jpg);
        background-size: cover;
    }

    .destinations .item.osaka .img-item {
        background: url(../img/osaka-tablet-desk.jpg);
        background-size: cover;
    }

    .destinations .button {
        width: 280px;
    }

    .destinations-items {
        flex-direction: row;
        /* Alinha os itens em linha */
        flex-wrap: wrap;
        /* Permite que os itens quebrem para a próxima linha se não houver espaço */
        justify-content: space-between;
        /* Distribui os itens horizontalmente */
    }

    .destinations .item {
        width: calc(50% - 12px);
        /* Define a largura de cada item para ocupar metade do espaço disponível, menos a margem entre eles */
    }
}

@media screen and (min-width: 1024px) {
    .destinations {
        width: 900px;
    }

    .destinations .item .img-item {
        width: 100%;
        height: 452px;
    }
}