section.hero,
section.bottom-hero {
    width: 100%;
    margin: 0;
}

.hero .hero-img,
.bottom-hero .hero-img {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Mobile default images (index) */
.hero .hero-img {
    background-image: url(../img/hero-mobile.jpg);
}

.bottom-hero .hero-img {
    background-image: url(../img/bottom-hero-mobile.jpg);
}

.hero h2 {
    padding: 88px 24px;
    margin: 0;
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

.travel-packages.hero {
    margin-bottom: 88px;
}

.travel-packages.hero .hero-img {
    background-image: url(../img/hero-japao.jpg);
}

.travel-packages.bottom-hero .hero-img {
    background-image: url(../img/hero-japao-2.png);
    height: 360px;
}

.travel-packages .hero-content {
    padding: 72px 24px;
    margin: 0 auto;
}

.travel-packages .hero-content h1 {
    font-size: 32px;
    color: var(--text-secondary-color);
}

.travel-packages .hero-content hr {
    width: 120px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px 0 24px;
}

.travel-packages .hero-content p {
    width: 100%;
    font-size: 16px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
    line-height: 26px;
}

@media screen and (min-width: 768px) {

    /* Index hero */
    .hero .hero-img {
        height: 620px;
        background-image: url(../img/hero-tablet.jpg);
    }

    .bottom-hero .hero-img {
        height: 400px;
        background-image: url(../img/bottom-hero-tablet.jpg);
    }

    .hero h2 {
        padding: 88px 60px;
        font-size: 32px;
    }

    /* Travel packages */
    .travel-packages.hero .hero-img {
        height: 620px;
    }

    .travel-packages.bottom-hero .hero-img {
        height: 400px;
    }

    .travel-packages .hero-content {
        padding: 120px 60px;
    }

    .travel-packages .hero-content h1 {
        font-size: 40px;
    }

    .travel-packages .hero-content p {
        max-width: 570px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {

    /* Index hero */
    .hero .hero-img {
        background-image: url(../img/hero-desktop.jpg);
    }

    .bottom-hero .hero-img {
        height: 600px;
        background-image: url(../img/bottom-hero-desktop.jpg);
    }

    .hero h2 {
        padding: 88px 120px;
    }

    /* Travel packages */
    .travel-packages .hero-content {
        padding: 150px 120px 170px;
    }

    .travel-packages .hero-content h1 {
        font-size: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .travel-packages .hero-content {
        width: 1200px;
    }
}

@media screen and (min-width: 1920px) {
    .hero h2 {
        padding: 88px 160px;
    }
}

.list-links li a {
    color: var(--text-secondary-color);
    text-decoration: none;
    font-weight: var(--menu-text-weight);
    font-size: 24px;
}