section.hero,
section.bottom-hero {
    width: 100%;
    margin: 0;
}

.hero .hero-img,
.bottom-hero .hero-img {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero .hero-img {
    background-image: url(../img/hero-mobile.jpg);
}

.bottom-hero .hero-img {
    background-image: url(../img/bottom-hero-mobile.jpg);
}

.hero h2 {
    padding: 88px 24px;
    margin: 0;
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .hero .hero-img {
        height: 620px;
        background-image: url(../img/hero-tablet.jpg);
    }

    .bottom-hero .hero-img {
        height: 400px;
        background-image: url(../img/bottom-hero-tablet.jpg);
    }

    .hero h2 {
        padding: 88px 60px;
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .hero .hero-img {
        background-image: url(../img/hero-desktop.jpg);
    }

    .bottom-hero .hero-img {
        height: 600px;
        background-image: url(../img/bottom-hero-desktop.jpg);
    }

    .hero h2 {
        padding: 88px 120px;
    }
}

@media screen and (min-width: 1920px) {
    .hero h2 {
        padding: 88px 160px;
    }
}