/* BASE (MOBILE FIRST) */
section.hero,
section.bottom-hero {
    width: 100%;
    margin: 0;
}

.hero-img {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.travel-packages.hero .hero-img {
    background-image: url(../img/hero-japao.jpg);
    margin-bottom: 88px;
}

.travel-packages.bottom-hero .hero-img {
    background-image: url(../img/hero-japao-2.png);
}

.travel-packages .hero-content {
    padding: 80px 24px;
    margin: 0 auto;
}

.travel-packages .hero-content h1 {
    font-size: 32px;
    color: var(--text-secondary-color);
}

.travel-packages .hero-content hr {
    width: 120px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px 0 24px;
}

.travel-packages .hero-content p {
    width: 100%;
    font-size: 16px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
    line-height: 26px;
}

/* TABLET */
@media screen and (min-width: 768px) {
    .travel-packages.hero .hero-img {
        height: 620px;
    }

    .travel-packages.bottom-hero .hero-img {
        height: 400px;
    }

    .travel-packages .hero-content {
        padding: 120px 60px;
    }

    .travel-packages .hero-content h1 {
        font-size: 40px;
    }

    .travel-packages .hero-content p {
        max-width: 570px;
        font-size: 18px;
    }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
    .travel-packages.hero .hero-img {
        margin-bottom: 104px;
    }

    .travel-packages.bottom-hero .hero-img {
        height: 400px;
    }

    .travel-packages .hero-content {
        padding: 150px 120px 170px;
    }

    .travel-packages .hero-content h1 {
        font-size: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .travel-packages .hero-content {
        width: 1200px;
    }
}