.offers {
    margin-bottom: 104px;
}

.offers-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}

.offers-cards .card {
    color: var(--text-secondary-color);
    background-color: black;
    width: 312px;
    height: auto;
    min-height: 288px;
    box-sizing: border-box;
    padding: 24px 16px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.offers-cards .card footer {
    margin-top: auto;
}

.offers-cards .card header {
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.offers-cards .card header p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.offers-cards .card header h3 {
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
    line-height: 1.1;
    min-height: 2.2em;
}

.offers-cards .card header span {
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;
    font-weight: var(--title-weight);
}

.card.japao {
    background: url(../img/bg-card-japao.jpg) no-repeat;
    background-size: cover;
}

.card.san-andreas {
    background: url(../img/bg-card-san-andreas.jpg) no-repeat;
    background-size: cover;
}

.card.paraiba {
    background: url(../img/bg-card-paraiba.jpg) no-repeat;
    background-size: cover;
}

.card.manaus {
    background: url(../img/bg-card-manaus.jpg) no-repeat;
    background-size: cover;
}

.offers-cards .button {
    width: 100%;
    max-width: 280px;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width:768px) {
    .offers-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .offers-cards .card {
        width: auto;
        flex: 1 1 calc(50% - 24px);
        max-width: 312px;
    }
}

@media screen and (min-width:1024px) {
    .offers-cards .card {
        width: auto;
        flex: 1 1 calc(25% - 24px);
        max-width: 280px;
        min-height: 308px;
    }

    .card header h3 {
        font-size: 48px;
    }

    .card header span {
        font-size: 40px;
    }
}